.page {
    font-family: 'Inter', 'Arial', sans-serif;
    color: white;
    background-color: #000;
    max-width: 880px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
 }

.header {
    margin: 45px auto 0;
    max-height: 73px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media all and (max-width: 440px) {
    .header {
        margin-top: 28px;
    }
}

.header__logo {
    width: 142px;
    height: 33px;
    margin-bottom: 41px;
 }

@media screen and (max-width: 900px) {
    .header__logo {
        margin-left: 27px;
    }
}

@media all and (max-width: 440px) {
    .header__logo {
        width: 104px;
        height: 25px;
        margin-bottom: 30px;
        background-size: cover;
    }
}

.profile {
    margin: 40px auto 0;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .profile {
        flex-direction: column;
        margin: 40px auto 35px;
    }
}

.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 30px;
}

@media screen and (max-width: 1000px) {
    .profile__avatar {
        margin: 0;
    }
}

.profile__info {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: repeat(2, min-content);
    align-items: center;
    align-content: center;
}

.profile__text_name {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0 auto 16px;
}

@media all and (max-width: 1000px) {
    .profile__text_name {
        margin: 26px auto 14px;
    }
}

@media all and (max-width: 440px) {
    .profile__text_name {
        font-size: 27px;
        line-height: 33px;
    }
}

.profile__text_job {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

@media all and (max-width: 440px) {
    .profile__text_job {
        font-size: 14px;
        line-height: 17px;
    }
}

.profile__text {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 1000px) {
    .profile__text {
        text-align: center;
    }
}

.profile__edit-button {
    width: 24px;
    height: 24px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-left: 18px;
    background-image: url(./Images/Vector\ карандаш.svg);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 440px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
        margin-left: 10px;
    }
}

.profile__add-button {
    justify-self: flex-end;
    width: 150px;
    height: 50px;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 2px;
    background-image: url(./Images/Vector\ плюс.svg);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1000px) {
    .profile__add-button {
        margin: 36px auto 0;
        width: 282px;
    }
}

@media all and (max-width: 440px) {
    .profile__add-button {
        background-size: 16px 16px;
    }
}

.elements {
    padding: 0;
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    row-gap: 20px;
    column-gap: 15px;
    justify-items: center;
}

@media all and (max-width: 900px) {
    .elements {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media all and (max-width: 440px) {
    .elements {
        margin: 50px 0;
    }
}

.element__item {
    background-color: white;
    max-width: 282px;
    height: 361px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.element__pic {
    max-width: 282px;
    max-height: 282px;
    object-fit: cover;
}

.element__container {
    display: flex;
    justify-content: space-between;
    margin: 25px 15px 30px 20px;
}

.element__title {
    margin: 0;
    max-width: 200px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.element__button {
    width: 22px;
    height: 19px;
    padding: 0;
    align-self: center;
    background-image: url(./Images/Vector\ лайк.svg);
    background-color: white;
    border: none;
    background-size: cover;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.element__button_active {
    background-image: url(./Images/Vector\ лайк\ active.svg);
}

.element__button:hover {
    opacity: 0.5;
}

.footer__copyright {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0 auto 60px;
}

@media screen and (max-width: 900px) {
    .footer__copyright {
        margin: 48px 19px 36px;
    }
}

@media screen and (max-width: 440px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
}

.popup {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.popup_active {
    display: flex;
}

.popup__container {
    /*font-family: 'Inter', 'Arial', sans-serif;*/
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 330px;
    margin: auto;
    padding: 35px;
    padding-top: 0;
    background-color: white;
    color: black;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media all and (max-width: 440px) {
    .popup__container {
        width: 282px;
        height: 322px;
        padding: 0 22px 25px;
    }
}

.popup__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 54px;
}

@media all and (max-width: 440px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 75px;
    }
}

.popup__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.popup__save-button {
    max-width: 358px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 18px;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.popup__save-button:hover {
    opacity: 0.8;
}

@media all and (max-width: 440px) {
    .popup__save-button {
        margin-top: 15px;
        font-size: 14px;
        line-height: 17px;
    }
}

.popup__close-button {
    background-image: url(./Images/Popup\ close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
    position: relative;
    padding: 0;
    margin: 0;
    top: -40px;
    right: -400px;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media all and (max-width: 540px) {
    .popup__close-button {
        top: -45px;
        right: -360px;
    }
}

@media all and (max-width: 440px) {
    .popup__close-button {
        top: -30px;
        right: -240px;
        width: 20px;
        height: 20px;
        background-size: cover;
    }
}